p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --body-bgr: #141e30; /* fallback for old browsers */
  --body-bgr: -webkit-linear-gradient(
    to top,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  --body-bgr: linear-gradient(
    to top,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: var(--body-bgr);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #1a1a1a;
    --body-bgr: hsla(64, 41%, 92%, 1);

    --body-bgr: linear-gradient(
      270deg,
      hsla(64, 41%, 92%, 0.75) 0%,
      hsla(196, 83%, 84%, 0.5) 50%,
      hsla(305, 76%, 90%, 0.5) 100%
    );

    --body-bgr: -moz-linear-gradient(
      270deg,
      hsla(64, 41%, 92%, 0.75) 0%,
      hsla(196, 83%, 84%, 0.5) 50%,
      hsla(305, 76%, 90%, 0.5) 100%
    );

    --body-bgr: -webkit-linear-gradient(
      270deg,
      hsla(64, 41%, 92%, 0.75) 0%,
      hsla(196, 83%, 84%, 0.5) 50%,
      hsla(305, 76%, 90%, 0.5) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2F3E2", endColorstr="#B2E5F8", GradientType=1 );
  }
}
